<h1>Agregar una nueva propiedad</h1>

<%= form_with(model: property, local: true) do |form| %>

       <div class="field">
              <%= form.label :price %>
              <%= form.number_field :price %>
       </div>

       <div class="field">
              <%= form.label :direction %>
              <%= form.text_field :direction %>
       </div>

       <div class="field">
              <%= form.label :area %>
              <%= form.text_field :area %>
       </div>

       <div class="field">
              <%= form.label :rooms %>
              <%= form.number_field :rooms %>
       </div>

       <div class="field">
              <%= form.label :bathrooms %>
              <%= form.number_field :bathrooms %>
       </div>

       <div class="field">
              <%= form.label :photo %>
              <%= form.file_field :photo %>
       </div>

       <div class="field">
       
       </div>

<% end %>