<% if user_signed_in? %>
       <h1>Hola usuario logeado!</h1>
       <div>
              <h4>Informacion general:</h4>
              <p>Cantidad total de mis propiedades: <%= current_user.properties.count %></p>
              <p>Cantidad de likes total recibido por mis propiedades: RECUERDA IMPLEMENTAR LIKES!!</p>
              <p>Cantidad global de propiedades: <%= @properties.count %></p>
       </div>
       <h3>Listado de propiedades</h3>
       <%= link_to "Añadir una nueva propiedad", new_property_path %>
       <table class="table">
              <thead>
                     <tr>
                            <th scope="col">Foto</th>
                            <th scope="col">Dirección</th>
                            <th scope="col">Área(mt2)</th>
                            <th scope="col">Nro. Habitaciones</th>
                            <th scope="col">Nro. Baños</th>
                            <th scope="col">Precio</th>
                            <th colspan="3">Herramientas</th>
                     </tr>
              </thead>
              <tbody>
                     <% @user_properties.each do |property| %>
                     <tr>
                            <td><%= image_tag(property.photo.variant(resize: "100x100").processed) %></td>
                            <td><%= property.direction %></td>
                            <td><%= property.area %></td>
                            <td><%= property.rooms %></td>
                            <td><%= property.bathrooms %></td>
                            <td><%= property.price %></td>
                            <td><%= link_to "Editar propiedad", edit_property_path(property) %></td>
                            <td><%= link_to "Eliminar propiedad", property, method: :delete, data: {confirm: "¿Seguro desea eliminar esta propiedad?"} %></td>
                     </tr>
                     <%end%>
              </tbody>
       </table>
<% else %>
       <h1>No pueder ver nada, no te haz logeado</h1>
<%end %>